body {
    background-color: rgb(48, 48, 48);
    color: whitesmoke;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner-text {
    font-family: 'Rock Salt', cursive;
    font-size: 48px;
    text-align: center;
}